<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Person</title>
    <style>
        p.small {
            line-height: 0.7;
        }
    </style>
</head>
<body>

<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<div th:if="${not #lists.isEmpty(books)}">
    <hr/>
    <h3>Books:</h3>
    <div th:each="book : ${books}" >
        <p class="small" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublish()}">VALUE</p>
    </div>
</div>

<div th:if="${#lists.isEmpty(books)}">
    <p>Person has not borrowed any book yet.</p>
</div>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit">
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>